@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');
:root{
  --primary-color: #0552a4;
  --white : #fff;
  --black: #000;
  --shadow: 1px -1px 9px rgba(0,0,0,0.1), -1px 1px 9px rgba(0,0,0,0.1);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
}

.app{
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.app :nth-child(2){
  justify-self: end;
}

button{
  border: solid 1px var(--primary-color);
  outline: none;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 3px;
  padding: 5px;
  box-shadow: var(--shadow);
}

button:hover{
  background: #fff;
  color: var(--primary-color);
}

input[type="text"]{
  border: solid 1px var(--primary-color);
  outline: none;
  padding: 5px;
  border-radius: 3px;
  caret-color: var(--primary-color);
  color: var(--primary-color);
}

@media screen and (max-width: 800px){
  .app{
    padding: 20px 10px;
    height: max-content;
  } 
}